.skills__icon:nth-child(1) {
    background: url(../../icons/html.svg) no-repeat center / cover;
}

.skills__icon:nth-child(2) {
    background: url(../../icons/css.svg) no-repeat center / cover;
}

.skills__icon:nth-child(3) {
    background: url(../../icons/javascript.svg) no-repeat center / cover;
}

.skills__icon:nth-child(4) {
    background: url(../../icons/git.svg) no-repeat center / cover;
}

.skills__icon:nth-child(5) {
    background: url(../../icons/github.svg) no-repeat center / cover;
}

.skills__icon:nth-child(6) {
    background: url(../../icons/mysql.svg) no-repeat center / cover;
}

.skills__icon:nth-child(7) {
    background: url(../../icons/postgresql.svg) no-repeat center / cover;
}