.header__list {
    align-self: center;
    background-color: var(--background-color-header-list);
    box-shadow: var(--box-shadow-header-lis);
    display: var(--display-header-list);
    flex-direction: var(--flex-direction-header-list);
    gap: var(--gap-header-list);
    height: var(--height-header-list);
    justify-content: var(--justify-content-header-list);
    padding: var(--padding-header-list);
    position: var(--position-header-list);
    top: var(--top-header-list);
    transition: var(--transition-header-list);
    right: var(--right-header-list);
    width: var(--width-header-list);
    z-index: var(--z-index-header-list);
}

.header__list__active{
    display: var(--display-header-list-active);
}