.header__icons {
    align-items: center;
    display: flex;
    gap: var(--gap-header-icons);
    height: var(--height-header-icons);
    justify-content: var(--justify-content-header-icons);
    padding-right: var(--padding-right-header-icons);
    width: var(--width-header-icons);
}