.project__tech__stack {
    display: grid;
    grid-template-columns: repeat(var(--grid-template-columns-project-tech-stack));
    grid-template-rows: repeat(var(--grid-template-rows-project-tech-stack));
    gap: var(--gap-project-tech-stack);
}