.projects__project {
    display: grid;
    gap: var(--gap-project-grid);
    grid-auto-flow: dense;
    grid-auto-rows: var(--grid-rows-height-project-grid);
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-columns-width-project-grid)));
    justify-content: center;
    margin: var(--margin-project-grid);
}