.project__tech__stack__title {
    color: var(--color-project);
    font-family: var(--font-family-html);
    font-size: var(--font-size-project-tech-stack);
    font-weight: var(--font-weight-project-tech-stack-title);
}


