.program__civil {
    background: url(../../imgs/javeriana.png) no-repeat center / cover;
}

.program__finance {
    background: url(../../imgs/mitx.png) no-repeat center / contain;
}

.program__alura {
    background: url(../../imgs/alura.png) no-repeat center / contain;
}

.program__freecodecamp {
    background: url(../../imgs/freecodecamp.png) no-repeat center / contain;
}

.program__platzi {
    background: url(../../imgs/platzi.png) no-repeat center / contain;
}

.program__img {
    aspect-ratio: var(--aspect-ratio-program-img);
    border-radius: var(--border-radius-program-img);
    inline-size: var(--inline-size-program-img);
    min-height: var(--min-height-program-img);
    max-height: var(--max-height-program-img);
}
