.footer__icons {
    align-items: center;
    display: flex;
    gap: var(--gap-footer-icons);
    height: var(--height-footer-icons);
    justify-content: space-between;
    width: var(--width-footer-icons);
}