:root {
    --background-color-html: #000000;
    --color-subtitles: #A7A7A7;
    --color-titles: #CCCCCC;
    --font-family-html: 'DM Sans', sans-serif;
    --font-size-subtitles: 2rem;
    --font-size-titles: 3rem;
    --font-weight-titles: 700;
    --padding-section: 2.5rem 6vw;
    --padding-titles: 0rem 0rem 3rem 0rem;
    --padding-subtitles: 0rem 0rem 2rem 0rem;
}

/* variables for header */
:root {
    --color-header: #A7A7A7;
    --color-header-icon-menu: #000000;
    --display-header-icon-menu: none;
    --display-header-list: flex;
    --display-header-menu: flex;
    --font-size-header-icon: 2rem;
    --font-size-header-item-list: 1.2rem;
    --font-weight-header-list: 500;
    --gap-header-icons: 0.8rem;
    --gap-header-menu: 2.5rem;
    --height-header-icons: 100%;
    --justify-content-header-icons: space-around;
    --text-align-header-title: left;
    --width-header-icons: auto;
    --width-header-icon-menu: 0%;
    --width-header-list: 80%;
    --width-header-menu: 50%;
    --width-header-title: calc(100% - var(--width-header-menu));
}

/* variables for aboutMe */
:root {
    --borde-radius-profileImg: 50%;
    --color-aboutMe: #D9D9D9;
    --font-size-aboutMe-resume: 1.5rem;
    --gap-aboutMe: 5rem;
    --height-profileImg: 25vh;
    --width-aboutMe-description: 55vw;
    --width-profileImg: 25vh;
}

/* variables for skills */
:root {
    --gap-skills-icons: 4vw;
    --grid-columns-width-skills-icons: 100px;
    --grid-rows-height-skills-icons: 100px;
    --margin-skills-icons: 2rem 10vw; 
}

/* variables for project grid*/
:root {
    --gap-project-grid: 3rem;
    --grid-columns-width-project-grid: 310px, 23vW;
    --grid-rows-height-project-grid: 55vh;
    --margin-project-grid: 2rem 0vw;
}

/* variables for project__card */
:root {
    --aspect-ratio-project-img: 1 / 1;
    --background-color-project-information: #363636;
    --border-radius-project-img: 1.25rem 1.25rem 0rem 0rem;
    --border-radius-project-information: 0rem 0rem 1.25rem 1.25rem;
    --color-project: #CCCCCC;
    --font-size-project-description: 1.025rem;
    --font-size-project-tech-stack: 15px;
    --font-size-project-title: 1.70rem;
    --font-size-tech-stack-link: 14px;
    --font-weight-project-description: 300;
    --font-weight-project-tech-stack-text: 400;
    --font-weight-project-tech-stack-title: 500;
    --font-weight-project-title: 500;
    --gap-project-information: 1rem;
    --gap-project-tech-stack: 10px;
    --grid-column-project-tech-stack-text: 1 / 3;
    --grid-template-columns-project-information: 1fr;
    --grid-template-rows-project-information: var(--font-size-project-title) calc(100% - var(--font-size-project-title) - 2 * var(--gap-project-information) - 50px);
    --grid-template-columns-project-tech-stack: 2, 1fr;
    --grid-template-rows-project-tech-stack: 2, 1fr;
    --height-project-card: var(--grid-rows-height-project-grid);
    --height-project-information: calc(60% - 2 * var(--gap-project-information));
    --inline-size-project-img: 100%;
    --padding-project-information: 1.5rem;
}

/* variables for education grid */
:root {
    --gap-education-grid: 3rem;
    --grid-columns-width-education-grid: 250px, 250px;
    --grid-rows-height-education-grid: 31vh;
    --margin-education-grid: 2rem 4vw;
}

/* variables for education__program */
:root {
    --aspect-ratio-program-img: 1 / 1;
    --background-color-program: #363636;
    --border-radius-program: 1.25rem;
    --border-radius-program-img: 1.25rem 1.25rem 0rem 0rem;
    --color-program: #CCCCCC;
    --font-size-program-information: 0.9rem;
    --font-size-program-name: 1.2rem;
    --font-weight-program-information: 300;
    --font-weight-program-name: 500;
    --height-education-program: var(--grid-rows-height-education-grid);
    --inline-size-program-img: 100%;
    --max-height-program-img: 57%;
    --min-height-program-img: 57%;
    --padding-program: 1.4rem;
    --padding-program-name: 0rem 0rem 0.8rem 0rem;
}

/* variables for footer */
:root {
    --color-footer: #A7A7A7;
    --font-size-footer-icon: 2.5rem;
    --font-size-footer-text: 1.3rem;
    --gap-footer-icons: 1.5rem;
    --height-footer-icons: 100%;
    --width-footer-icons: auto;
}

body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 420px){
    /* general varaibles */
    :root {
        --font-size-subtitles: 1.3rem;
        --font-size-titles: 2.5rem;
        --padding-section: 2rem 6vw;
        --padding-titles: 0rem 0rem 2rem 0rem;
        --padding-subtitles: 0rem 0rem 1.5rem 0rem;
    }

    /* variables for header */
    :root {
        --color-header-icon-menu: #A7A7A7;
        --display-header-icon-menu: flex;
        --display-header-item-list: none;
        --display-header-list: none;
        --flex-direction-header: column;
        --font-size-header-icon: 2.2rem;
        --gap-header-columns: 1rem;
        --gap-header-icons: 2rem;
        --justify-content-header-icons: center;
        --padding-header-icons-right: 0rem;
        --text-align-header-title: center;
        --text-align-header-icon-menu: center;
        --width-header-icons: 100%;
        --width-header-icon-menu: 100%;
        --width-header-list: 0%;
        --width-header-menu: 100%;
    }

    /* variables for aboutMe */
    :root {
        --align-self-aboutMe: center;
        --flex-direction-aboutMe: column-reverse;
        --font-size-aboutMe-resume: 1.2rem;
        --gap-aboutMe: 1.5rem;
        --text-align-aboutMe: center;
        --width-aboutMe-description: 88vw;
    }

    /* variables for skills */
    :root {
        --gap-skills-icons: 2rem;
        --grid-columns-width-skills-icons: 85px;
        --grid-rows-height-skills-icons: 85px;
        --margin-skills-icons: 0.5rem 10vw; 
    }

    /* variables for project grid*/
    :root {
        --gap-project-grid: 2.5rem;
        --grid-columns-width-project-grid: 290px, 23vW;
        --margin-project-grid: 0.5rem 0vw;
    }

    /* variables for project__card */
    :root {
        --font-size-project-description: 1rem;
        --font-size-project-tech-stack: 13px;
        --font-size-project-title: 1.6rem;
    }

    /* variables for education grid */
    :root {
        --gap-education-grid: 2.5rem;
        --grid-columns-width-education-grid: 240px, 240px;
    }

    /* variables for footer */
    :root {
        --font-size-footer-icon: 2.3rem;
        --font-size-footer-text: 1.05rem;
    }
}

@media screen and (max-width: 1650px){

    /* variables for skills */
    :root {
        --margin-skills-icons: 2rem 7vw; 
    }
}

@media screen and (max-width: 1450px){

    /* variables for skills */
    :root {
        --margin-skills-icons: 2rem 3vw; 
    }

    /* variables for education grid */
    :root {
        --margin-education-grid: 2rem 8vw;
    }
}

@media screen and (max-width: 1400px){

    /* variables for header */
    :root {
        --color-header-icon-menu: #A7A7A7;
        --display-header-icon-menu: flex;
/*         --display-header-item-list: none;
        --display-header-list: none; */
        --flex-direction-header: row;
        --font-size-header-icon: 2.3rem;
        --gap-header-icons: 1.5rem;
        --text-align-header-title: left;
        --text-align-header-icon-menu: right;
        --width-header-icons: 100%;
        --width-header-icon-menu: auto;
        --width-header-list: 0%;
        --width-header-menu: auto;
        --width-header-title: auto;
    }
}

@media screen and (max-width: 1200px){

    /* variables for skills */
    :root {
        --gap-skills-icons: 2.5rem;
        --grid-columns-width-skills-icons: 85px;
        --grid-rows-height-skills-icons: 85px;
        --margin-skills-icons: 0.5rem 3.3vw; 
    }

    /* variables for education grid */
    :root {
        --margin-education-grid: 2rem 0vw;
    }
}

@media screen and (max-width: 900px){
        /* general varaibles */
    :root {
        --font-size-subtitles: 1.3rem;
        --font-size-titles: 2.5rem;
        --padding-section: 2rem 6vw;
        --padding-titles: 0rem 0rem 2rem 0rem;
        --padding-subtitles: 0rem 0rem 1.5rem 0rem;
    }
    
    /* variables for header */
    :root {
        --gap-header-icons: 1rem;
    }

}

@media screen and (max-width: 800px){
    /* general varaibles */
    :root {
        --font-size-subtitles: 1.3rem;
        --font-size-titles: 2.5rem;
        --padding-section: 2rem 6vw;
        --padding-titles: 0rem 0rem 2rem 0rem;
        --padding-subtitles: 0rem 0rem 1.5rem 0rem;
    }

    /* variables for header */
    :root {
        --color-header-icon-menu: #A7A7A7;
        --display-header-icon-menu: flex;
        --display-header-item-list: none;
        --display-header-list: none;
        --flex-direction-header: column;
        --font-size-header-icon: 2.2rem;
        --gap-header-columns: 1rem;
        --gap-header-icons: 2rem;
        --justify-content-header-icons: center;
        --padding-header-icons-right: 0rem;
        --text-align-header-title: center;
        --text-align-header-icon-menu: center;
        --width-header-icons: 100%;
        --width-header-icon-menu: 100%;
        --width-header-list: 0%;
        --width-header-menu: 100%;
        --width-header-title: 100%;
    }

    /* variables for aboutMe */
    :root {
        --align-self-aboutMe: center;
        --flex-direction-aboutMe: column-reverse;
        --font-size-aboutMe-resume: 1.2rem;
        --gap-aboutMe: 1.5rem;
        --text-align-aboutMe: center;
        --width-aboutMe-description: 88vw;
    }

    /* variables for skills */
    :root {
        --gap-skills-icons: 2rem;
        --grid-columns-width-skills-icons: 75px;
        --grid-rows-height-skills-icons: 75px;
        --margin-skills-icons: 0.5rem 10vw; 
    }

    /* variables for project grid*/
    :root {
        --gap-project-grid: 2.5rem;
        --grid-columns-width-project-grid: 290px, 23vW;
        --margin-project-grid: 0.5rem 0vw;
    }

    /* variables for project__card */
    :root {
        --font-size-project-description: 1rem;
        --font-size-project-tech-stack: 13px;
        --font-size-project-title: 1.6rem;
    }

    /* variables for education grid */
    :root {
        --gap-education-grid: 2.5rem;
        --grid-columns-width-education-grid: 220px, 220px;
        --padding-program: 1rem;
    }

    /* variables for footer */
    :root {
        --font-size-footer-icon: 2rem;
        --font-size-footer-text: 1.05rem;
        --gap-footer-icons: 1rem;
    }
}
